streamlit>=1.35.0
langchain>=0.2.16
langchain-community>=0.2.16
langchain-core>=0.2.38
langchain-groq>=0.1.5
langchain-huggingface>=0.0.3
faiss-cpu>=1.8.0
sentence-transformers>=3.0.0
transformers>=4.40.0
huggingface-hub>=0.23.0
python-dotenv>=1.0.0
edge-tts>=6.1.9
pypdf>=4.0.0
