streamlit==1.35.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.5
langchain-huggingface==0.0.3
faiss-cpu
sentence-transformers
python-dotenv
edge-tts
pypdf
streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
python-dotenv
edge-tts
pypdf
transformers
huggingface-hub